doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='javascripts/script.js')

  body

block content
  div#form
    input#regex-input
    span#message
  #squares

