doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='javascripts/script.js')

  body

block content
  div#form
    input#input
    select#method
      option(value=0)="RegEx"
      option(value=1)="Math"
    span#message
  #squares

