doctype html
html
  head
    title= "nUlam Visulaizer"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='javascripts/script.js')

  body

block content
  h1#page-title nUlam Visulaizer
  div#form
    div#testing-shit
      input#input(value="^[468]8$|^[579]3$|^1[24]9|^1[5][012]|132")
      select#method
        option(value=0)="RegEx"
        option(value=1)="Math"
        option(value=2)="Boolean"
    #verify-message
      span#message
  div#smartform
    input#smart-input(placeholder="Import function")
  #squares

