#squares
{
  width: 1000px;
  margin: auto;

  .square
  {
    height: 46px;
    width: 46px;
    margin: 2px;
    display: inline-block;

    &.red
    {
      background: #E80939;
    }

    &.green 
    {
      background: #12A106;
    }
  }
}