@import "_config";

#squares
{
  text-align: center;

  .square
  {
    height: ((@width / @squareDefault) - 4);
    width: ((@width / @squareDefault) - 4);
    margin: 2px;
    display: inline-block;
    font-size: ((@width / @squareDefault) * .3);

    &.pixel
    {
      height: (@width / @squarePixel);
      width: (@width / @squarePixel);
      margin: 0;
      font-size: ((@width / @squarePixel) * .3);
    }

    &.xsmall
    {
      height: ((@width / @squareXsmall) - 2);
      width: ((@width / @squareXsmall) - 2);
      margin: 1px;
      font-size: ((@width / @squareXsmall) * .3);

    }

    &.small
    {
      height: ((@width / @squareSmall) - 2);
      width: ((@width / @squareSmall) - 2);
      margin: 1px;
      font-size: ((@width / @squareSmall) * .3);
    }

    &.medium
    {
      height: ((@width / @squareMedium) - 4);
      width: ((@width / @squareMedium) - 4);
      margin: 2px;
      font-size: ((@width / @squareMedium) * .3);
    }

    &.large
    {
      height: ((@width / @squareLarge) - 4);
      width: ((@width / @squareLarge) - 4);
      margin: 2px;
      font-size: ((@width / @squareLarge) * .3);
    }

    &.xlarge
    {
      height: ((@width / @squareXlarge) - 4);
      width: ((@width / @squareXlarge) - 4);
      margin: 2px;
      font-size: ((@width / @squareXlarge) * .3);
    }

    &.red
    {
      background: #E80939;
    }

    &.green 
    {
      background: #12A106;
    }

    &.hidetext
    {
      color: transparent;
    }
  }
}