body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#squares {
  width: 1000px;
  margin: auto;
}

.square {
  height: 50px;
  width: 50px;
  margin: 2px;
  display: inline-block;
}

.red {
  background: red;
}

.green {
  background: green;
}

