/*
block size
show content
*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEE8D5;
}
a {
  color: #00B7FF;
}
h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 2.5em;
}
.wrapper {
  width: 1050px;
  margin: auto;
}
.loading {
  background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
}
#verify-message {
  text-align: center;
  font-size: 15px;
}
#message.invalid {
  color: red;
}
#squares {
  text-align: center;
}
#squares .square {
  height: 46px;
  width: 46px;
  margin: 2px;
  display: inline-block;
  font-size: 15px;
}
#squares .square.pixel {
  height: 1px;
  width: 1px;
  margin: 0;
  font-size: 0.3px;
}
#squares .square.xsmall {
  height: 13.217391304347826px;
  width: 13.217391304347826px;
  margin: 1px;
  font-size: 4.565217391304348px;
}
#squares .square.small {
  height: 23.609756097560975px;
  width: 23.609756097560975px;
  margin: 1px;
  font-size: 7.682926829268292px;
}
#squares .square.medium {
  height: 66px;
  width: 66px;
  margin: 2px;
  font-size: 21px;
}
#squares .square.large {
  height: 101px;
  width: 101px;
  margin: 2px;
  font-size: 31.5px;
}
#squares .square.xlarge {
  height: 206px;
  width: 206px;
  margin: 2px;
  font-size: 63px;
}
#squares .square.red {
  background: #E80939;
}
#squares .square.green {
  background: #12A106;
}
#squares .square.hidetext {
  color: transparent;
}
