body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.square {
  height: 10px;
  width: 10px;
  background: red;
  margin: 2px;
  display: inline-block;
}

